<!DOCTYPE html>
<body>
  <header>
  <div class="mypage">
    <h1>マイページ</h1>
    <h1>罰を設定して目標を達成しよう！</h1>
  </div>
  <div class="create-task">
    <a href="http://localhost:3000/tasks/new"> 目標を設定する</a>
  </div>
  <div class="login">
    <h1>ログインアプリ</h1>

    <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
      <!-- ユーザーがログインしていた時の処理 -->

      <h4> メールアドレス： <%= current_user.email %> </h4>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
    <% else %>
      <!-- ユーザーがログインしていなかった時の処理 -->
      <h2> 現在ログインしていません </h2>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
    <% end %>
  </div>
</body>
  

