<body class="body">
  <main role="main">
    <div class="top">
      <div class="top-message">
        <h1>罰アプリ</h1>
        <p>罰を設定して目標を達成しよう！</p>
        <hr>
      </div>
      <div class="top-new">
        <h2>新着目標</h2>
        <% @new_tasks.each do |task| %>
          <div class="d-inline-block p-2 bg-primary text-white">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <figure class="figure">
              <img src="assets/#{task.image_name}" class="figure-img img-fluid rounded" alt="一般的な角丸イメージ">
            </figure>
          </div>

        <% end %>
      <hr>
      </div>
      <div class="top-favorite">
        <h2>注目の目標</h2>
        <% @update_tasks.each do |task| %>
          <div class="d-inline-block p-2 bg-primary text-white">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <figure class="figure">
              <img src="assets/#{task.image_name}" class="figure-img img-fluid rounded" alt="一般的な角丸イメージ">
            </figure>
          </div>

        <% end %>
      </div>
  </main>
</body>
