<div class="side">
    <nav class="mypage-nav">
      <nav class="mypage-nav">


        <ul class="mypage-nav-list">
          <li>
              <a href="/jp/mypage/" class="mypage-nav-list-item active">
                マイページ
              <i class="icon-arrow-right"></i>
          </a>
          </li>

          <li>
        <a href="/jp/mypage/notification/" class="mypage-nav-list-item ">
          お知らせ
                  <i class="icon-arrow-right"></i>
        </a>
          </li>

          <li>
        <a href="/jp/mypage/todo/" class="mypage-nav-list-item ">
          やることリスト
                  <i class="icon-arrow-right"></i>
        </a>
          </li>

          <li>
        <a href="/jp/mypage/like/history/" class="mypage-nav-list-item ">
          いいね！一覧
          <i class="icon-arrow-right"></i>
        </a>
          </li>

          <li>
      <a href="/jp/sell/" class="mypage-nav-list-item">
        出品する
        <i class="icon-arrow-right"></i>
      </a>
          </li>

          <li>
      <a href="/jp/mypage/listings/listing/" class="mypage-nav-list-item ">
        出品した商品 - 出品中
        <i class="icon-arrow-right"></i>
      </a>
          </li>

          <li>
      <a href="/jp/mypage/listings/in_progress/" class="mypage-nav-list-item ">
        出品した商品 - 取引中
        <i class="icon-arrow-right"></i>
      </a>
          </li>

          <li>
      <a href="/jp/mypage/listings/completed/" class="mypage-nav-list-item ">
        出品した商品 - 売却済み
        <i class="icon-arrow-right"></i>
      </a>
          </li>

          <li>
      <a href="/jp/mypage/purchase/" class="mypage-nav-list-item ">
        購入した商品 - 取引中
        <i class="icon-arrow-right"></i>
      </a>
          </li>

          <li>
        <a href="/jp/mypage/purchased/" class="mypage-nav-list-item ">
          購入した商品 - 過去の取引
          <i class="icon-arrow-right"></i>
        </a>
          </li>

          <li>
        <a href="/jp/mypage/news/" class="mypage-nav-list-item ">
          ニュース一覧
          <i class="icon-arrow-right"></i>
        </a>
          </li>

          <li>
      <a href="/jp/mypage/review/history/" class="mypage-nav-list-item ">
        評価一覧
        <i class="icon-arrow-right"></i>
      </a>
          </li>

          <li>
        <a href="/jp/help_center/" class="mypage-nav-list-item">
          ガイド
          <i class="icon-arrow-right"></i>
        </a>
          </li>

          <li>
        <a href="/jp/mypage/support/" class="mypage-nav-list-item ">
          お問い合わせ
          <i class="icon-arrow-right"></i>
        </a>
          </li>

        </ul>

    <h3 class="mypage-nav-head">メルペイ</h3>
        <ul class="mypage-nav-list">
              <li>
            <a href="/jp/mypage/sales/" class="mypage-nav-list-item ">
                        残高・振込申請
                      <i class="icon-arrow-right"></i>
            </a>
          </li>

              <li>
            <a href="/jp/mypage/point/" class="mypage-nav-list-item ">
              ポイント
              <i class="icon-arrow-right"></i>
            </a>
          </li>
        </ul>


    <h3 class="mypage-nav-head">設定</h3>
        <ul class="mypage-nav-list">
              <li>
            <a href="/jp/mypage/profile/" class="mypage-nav-list-item ">
              プロフィール
              <i class="icon-arrow-right"></i>
            </a>
          </li>

              <li>
            <a href="/jp/mypage/deliver_address/" class="mypage-nav-list-item ">
              発送元・お届け先住所変更
              <i class="icon-arrow-right"></i>
            </a>
          </li>

              <li>
            <a href="/jp/mypage/card/" class="mypage-nav-list-item ">
              支払い方法
              <i class="icon-arrow-right"></i>
            </a>
          </li>

              <li>
            <a href="/jp/mypage/email_password/" class="mypage-nav-list-item ">
              メール/パスワード
              <i class="icon-arrow-right"></i>
            </a>
          </li>

              <li>
            <a href="/jp/mypage/identification/" class="mypage-nav-list-item ">
              本人情報
              <i class="icon-arrow-right"></i>
            </a>
          </li>

                  <li>
            <a href="/jp/mypage/sms_confirmation/" class="mypage-nav-list-item ">
              電話番号の確認
              <i class="icon-arrow-right"></i>
            </a>
          </li>




              <li>
            <a href="/jp/logout/" class="mypage-nav-list-item ">
              ログアウト
              <i class="icon-arrow-right"></i>
            </a>
          </li>
        </ul>

      </nav>
    </nav>
</div>
